.hero-container {
  /* width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
  background-color: rgb(234, 255, 234);
  background-image: 
  linear-gradient(45deg, rgb(118, 169, 118) 5%, transparent 5%);
  background-size: 40px 40px; 
  z-index: 1; */


  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);

  & article {
    grid-row: 7/10;
    grid-column: 8/11;
    scale: .8;
    opacity: 0;
    animation: fadeIn .5s .5s forwards, popUp .5s .5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);


    height: fit-content;
    position: relative;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: ghostwhite;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

    & h2 {
      font-family: var(--pawpal-logo);
      font-size: 2rem;
    }

    & p {
      margin-bottom: auto;
    }

    & a {
      bottom: 0;
      background-color: var(--pawpal-color);
      padding: .7rem;
      border-radius: 2rem;
      font-weight: 700;
      width: fit-content;
    }
  }


  & .absolute-container {
    position: absolute;
    width: 100vw;
    height: 90vh;
    top: 0;

  }


  & .cat-container {
    z-index: -1;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);

    & img {
      width: 40rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
      grid-column: 5/8;
      opacity: 0;
      grid-row: 10;
      transition: opacity .5s .5s ease-in;
      scale: .9;
      animation: popUp .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    }

    & img.active {
      opacity: 1;
    }

  }

  & .text-cloud {
    z-index: -1;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);

    & .cls-1 {
      fill: #000;
    }

    & .cls-1,
    .cls-2,
    .cls-3 {
      stroke-width: 0px;
    }

    & .cls-2 {
      fill: #fff;
    }

    & .cls-3 {
      fill: var(--pawpal-color);
    }

    & svg {
      width: 30rem;
      filter: drop-shadow(rgb(0, 0, 0, 0.2)0px 10px 4px);
      grid-row: 4;
      grid-column: 2/3;
      opacity: 0;
      scale: .8;
      animation: fadeIn .5s .5s forwards, popUp .5s .5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);


    }
  }
}

/* Amount container */

.amount-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--pawpal-color);


  &>p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
  }

  & h2 {
    font-family: var(--pawpal-logo);
    font-size: 4rem;
    opacity: 1;
    font-weight: 900;
    color: rgb(0, 53, 0);
    scale: 1;
  }

  & section {
    gap: 2rem;

    & article {
      margin-top: 2rem;
      margin-bottom: auto;
      background-color: ghostwhite;
      box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
      width: 300px;
      height: 150px;
      border-radius: 1rem;
      padding: 1rem;

      & h3 {
        font-family: var(--pawpal-logo);
      }

      & p {
        font-size: 5rem;
      }
    }
  }

  & .paw-walking {

    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(2, 60px);
    justify-content: center;
    position: absolute;
    top: 3rem;
    width: 100vw;
    height: 20vh;


    & i {
      rotate: 90deg;
      font-size: 5rem;
      opacity: 0;
      color: var(--pawpal-bg);
      animation: trace .5s var(--x) forwards;

      &:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
      }

      &:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
      }

      &:nth-of-type(3) {
        grid-column: 3;
        grid-row: 1;
      }

      &:nth-of-type(4) {
        grid-column: 4;
        grid-row: 2;
      }

      &:nth-of-type(5) {
        grid-column: 5;
        grid-row: 1;
      }

      &:nth-of-type(6) {
        grid-column: 6;
        grid-row: 2;
      }

      &:nth-of-type(7) {
        grid-column: 7;
        grid-row: 1;
      }

      &:nth-of-type(8) {
        grid-column: 8;
        grid-row: 2;
      }
    }
  }
}

/* Animal adoption section */

.adopt-container {
  background-color: rgb(242, 255, 242);

  padding: 2rem 0;

  & article {
    & h2 {
      font-size: 3rem;
      font-family: var(--pawpal-logo);
    }

    &>p {
      width: 50%;
    }

    & .animal-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .filter-options {
      & label {
        font-weight: 900;
        margin-right: .5rem;
      }

      & select {
        padding: .5rem;
        border-radius: 2rem;
      }
    }

    & ul {
      display: none;
    }

    & .animal-card {
      flex: 0 1 calc(33.333% - 20px);
      /* CHATGPT: Zorgt ervoor dat elke kaart een derde van de containerbreedte inneemt, minus de gap */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--pawpal-color);


      & a {
        display: block;
        text-decoration: none;
        transition: .2s;

        &:hover,
        &:focus {
          background-color: goldenrod;

          & img {
            filter: grayscale(0);
          }
        }
      }

      & .image-container {
        position: relative;

        & img {
          aspect-ratio: 1/1;
          width: 100%;
          height: auto;
          object-fit: cover;
          background-position: center;
          transition: .2s;
          filter: grayscale(1) brightness(.5) sepia(1) hue-rotate(50deg) saturate(1);
        }

        & i {
          position: absolute;
          bottom: 1rem;
          right: 1%;
          font-size: 2rem;
          color: var(--pawpal-white);
          z-index: 1;
        }

        & .adoption-status {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1rem;
          padding: .5rem;
          background-color: var(--pawpal-color);
          border-radius: 0 0 0 1rem;
          font-family: var(--pawpal-logo);
          z-index: 1;
        }
      }

      & .animal-info {
        padding: 1rem;

        & h3,
        p {
          margin: 0;
        }

        & h3 {
          font-size: 3rem;
          font-family: var(--pawpal-logo);
          line-height: 3rem;
        }

        & .breed {
          margin: 0;
          font-size: 1.5rem;
        }

        & .age {
          margin-bottom: 1rem;
        }
      }
    }


  }
}

@media screen and (max-width: 1000px) {

  .hero-container {
    display: block;
    box-sizing: border-box;



    & article {
      display: none;
    }

    & .cat-container {
      justify-content: center;
      width: 100%
    }

    & .text-cloud {
      display: block;

      & svg {
        width: 100%;
        padding: 2rem;
      }
    }

  }


  .amount-container {

    & h2 {
      font-size: 2rem;
      margin: 0;
    }

    &>p {
      font-size: 1rem;
      width: 90%;
      margin: 0;
    }

    .paw-walking {
      display: none;
    }

    & section:nth-of-type(2) {
      flex-direction: column;
    }
  }

  .adopt-container {
    & article {
      margin: 1rem;

      &>p {
        width: 100%;
      }

      & .filter-options {

        select {
          width: 100%;
          margin: .5rem 0;
        }
      }

      & .animal-grid {
        flex-direction: column;
      }
    }
  }
}