
.head {
  background-color: var(--pawpal-bg);
  padding: .3rem 0;
  color: var(--pawpal-color);

  & i {
    margin-right: .4rem;
    color: var(--pawpal-color);
  }

  & a {
    margin-right: 1rem;
    color: var(--pawpal-white);
    font-size: .8rem;
  }

  & button {
    margin-right: 1.5rem;
    font-size: .8rem;
    border: none;
    background-color: transparent;
    color: var(--pawpal-white);
  }
}

.navBar {


  &  a {
    font-weight: 900;
    font-family: var(--pawpal-logo);
    font-size: 2rem;
    
  }


  & section {
    background-color: var(--pawpal-color);
    margin: 0;
    padding: .5rem 4rem;


    & h2 {
      font-family: var(--pawpal-slogan);
    }

    & .menu-bar {
      margin-top: .5rem;
      position: relative;

      & button {
        background-color: transparent;
        border: none;
        font-family: var(--pawpal-font);
        font-size: 1rem;
        font-weight: 900;
        border-bottom: 2px solid transparent;
        transition: .5s;


        & i {
          margin-left: .5rem;
          transition: .2s;

          &.turnActive {
            rotate: 180deg;
            color: var(--pawpal-bg);
          }
        }

        &:hover,
        &:focus {
          border-bottom: 2px solid var(--pawpal-black);
        }
      }



      & .sub-menu {
        display: none;
        position: absolute;
        background-color: ghostwhite;
        top: 2rem;
        padding: 0 1rem 1rem 1rem;
        border-radius: 0 0 5% 5%;

        & a {
          display: block;
          font-family: var(--pawpal-font);
          font-size: 1rem;
          opacity: 0;
          width: 200px;
          font-weight: 500;
          animation: fadeIn .5s var(--x) forwards;
          padding: .5rem 0;
          border-bottom: 0.1rem black solid;

          &:focus {
            background-color: var(--pawpal-color);
          }
        }
      }

      & .sub-menu.active {
        display: block;
      }
    }
  }
}