@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUp {
  to {
    scale: 1;
  }
}

@keyframes moveUp {
  to {
    transform: translateY(0);
  }
}

@keyframes trace {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}