@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nothing+You+Could+Do&family=Unkempt:wght@400;700&display=swap');

:root {
  --pawpal-bg: rgb(9, 46, 5);
  --pawpal-color: lightgreen;
  --pawpal-white: ghostwhite;
  --pawpal-font: "Lato", sans-serif;
  --pawpal-logo: "Unkempt", cursive;
  --pawpal-black: black; 
  --pawpal-slogan: "Nothing You Could Do", cursive;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--pawpal-font);
}

a {
  text-decoration: none;
  color: var(--pawpal-black)
}

/*  Utility styling  */

.container {
  max-width: 90%;
  margin: auto ;
}

.a_flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.b_flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.f_flex {
  display: flex;
}

.h_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.e_flex {
  display: flex;
  flex-direction: column;
}

.g_flex {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.Rtext {
  text-align: right;
}

.padding {
  padding: 1rem 0;
}

/* .uppercase {
  text-transform: uppercase;
} */

.gap-1 {
  gap: 2rem;
}

.width {
  margin: 2rem 0;
}